.header{
    width:100%;
    height:7vh;
    /* color: rgb(255, 255, 255,0.83); */
    padding-bottom: 60px;
    position:fixed;
    top: 0;
    z-index:1;
    background-color:white;
    border-bottom: 2px solid #F0F0F0;
    /* box-shadow: 0 0 8px 1px rgb(0,0,0,0.3);  */
}

.header img{
    height:50px;
    display: inline;
    /* position: fixed; */
}
.heading{
    margin-top:  5px;
    margin-left: 3%;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.heading h1{
    margin:0;
    margin-left: 3px;
    display:inline;
    font-weight: bold;
    font-size:20px;
    color:#3C486B;
}

.searchcontainer{
    float:left;
    margin-top:10px;
    width: 250px;
    position: absolute;
    left: 20%;
}
.searchcontainer *{
    display:inline;
}


.search{
    background-color: #F0F0F0;
    border:transparent;
    padding: 3%;
    padding-left: 10%;
    color:black;
    width: 100%;
    border-radius: 5px;
    display:inline;
    z-index: 1;

}

.search::placeholder{
    color:gray;
}

.search:focus{
    outline: none;
}


  

.searchicon{
    position: relative;
    left: 2rem;
} 

.rightcontainer{
    float:right;
    margin-right:5%;
    margin-top: 10px;
}

.Account{
    float: right;
    position: relative;
    left: 5%;
    margin-top: 16px;
}

@media screen and (max-width:1000px){
    .searchcontainer{
        max-width: 350px;
        left: 25%;
    }
    .rightcontainer{
        margin-right:7%;
    }
    .Account{
        left:7%;
    }
}

@media screen and (max-width:768px){

    .header{
        padding-top: 10px;
        padding-bottom: 50px;

    }
    .searchcontainer{
        width: 250px;
        left: 30%;
    }

    .search{
        padding-left: 14%;
    }
    
    .Account{
        left:9%;
    }
}

@media screen and (max-width:600px){


    .header img{
        height:40px;
    }

    .searchcontainer{
        width: 180px;
        left: 40%;
    }

    .searchicon{
        display: none;
    } 


    
    .rightcontainer{
        position: absolute;
        left: 85%;
    }
    .Account{
        position:absolute;
        left:85%;
    }
}

@media screen and (max-width:440px){
    .rightcontainer{
        position: absolute;
        left: 79%;
    }

    .heading h1{
        font-size:20px;
    }

    
    .searchcontainer{
        max-width: 140px;
        left: 40%;
    }

}

@media screen and (max-width:360px){
    
    .searchcontainer{
        left: 48%;
        max-width: 100px;
    }

}

@media screen and (max-width:280px){
    .header{
        height:5vh;
        padding-bottom: 55px;
    }

    .header img{
        height:30px;
    }
    
    .rightcontainer{
        position: absolute;
        left: 78%;
    }
    .Account{
        position:absolute;
        left:80%;
    }

    .searchcontainer{
        left: 50%;
        max-width: 80px;
    }
}

