@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

}

.heading{
    display: flex;
    align-items: center;
    margin-left: 5px;
    
}

.heading img{
    width: 35px;
    /* height: 35px; */
}
.heading h1{
    font-weight: bold;
    font-size:20px;
    color:rgba(255, 255, 255, 0.878);
    font-family: 'Poppins', sans-serif;
}

.collapsemenu{
    margin-right: 5px;
}

.collapsediv{
    display: flex;
    justify-content: right;
}

.subdiv{
    display: flex;
}
.subdiv>button{
    margin-left: 10px;
}

.dropdown{
    margin-left: 10px;
}

.search::placeholder{
    color: white;
    
}

@media screen and (max-width:768px){
    /* .collapsediv{
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }

    .collapsediv *{
        width: 50%;
    } */
    
}