.header{
    width:100%;
    height:7vh;
    margin: 0 auto;
    padding-bottom: 60px;
    /* position: fixed; */
    background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0,0.2); 

}

.header img{
    height:50px;
    display: inline;
    /* position: fixed; */
}
.heading{

    margin-top:  5px;
    margin-left: 3%;
    display:flex;
    align-items: center;
    justify-content: center;
    float: left;
    display: inline;
    
}

.heading h1{
    display:inline;
    font-size:larger;
}

.searchcontainer{
    display: block;
    float:left;
    margin-top:10px;
    width: 500px;
    max-width: 400px;
    position: absolute;
    left: 17%;
}

.search{
    background-color: #edeced;
    border-color: transparent;
    padding: 1.5%;
    padding-left: 10%;
    color:black;
    width: 80%;
    border-radius: 20px;
}

.search::placeholder{
    color:black;
}

.search:focus{
    outline: none;
}


  

.searchicon{
    position: relative;
    left: 2rem;
} 

.rightcontainer{
    float:right;
    margin-right:5%;
    margin-top: 10px;
}

.Account{
    float: right;
    position: relative;
    left: 5%;
    margin-top: 16px;
}

@media screen and (max-width:1000px){
    .searchcontainer{
        max-width: 350px;
        left: 25%;
    }
    .rightcontainer{
        margin-right:7%;
    }
    .Account{
        left:7%;
    }
}

@media screen and (max-width:768px){
    .searchcontainer{
        width: 80%;
        max-width: 280px;
        min-width: 50px;
        left: 30%;
    }

    .search{
        padding-left: 14%;
    }
    
    .rightcontainer{
        margin-right:7%;
    }

    .rightcontainer{
        margin-right:9%;
    }
    .Account{
        left:9%;
    }
}

@media screen and (max-width:600px){


    .header img{
        height:45px;
    }

    .search{
        display: none;
    }

    .searchcollapse{
        display: block;
        padding-left: 30%;
        font-size: small;
    }

    .searchcontainer{
        float: right;
        display:flex;
        align-items: center;
        height: 35px;
        position: relative;
        transition: width .3s ease-in-out;
        left: -12%;
        width: 15%;
    }

    .searchcontainercollapse{
        transition: width .3s ease-in-out;
        width: 45%;
    }

    
    .rightcontainer{
        position: absolute;
        left: 60%;
    }

    .rightcontainercollapse{
        display:none;
    }
    .Account{
        position:absolute;
        left:85%;
    }
}

@media screen and (max-width:280px){
    .header{
        height:5vh;
        padding-bottom: 55px;
    }

    .header img{
        height:30px;
    }
    
    .rightcontainer{
        position: absolute;
        left: 55%;
    }
    .Account{
        position:absolute;
        left:80%;
    }
}

