.middlelayer{
    margin-top: 10px;
    margin-left: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background:white;
    margin-right: 10%;
    height: 65px;
    border-radius: 5px;
    color:black;
    font-size: 1.1rem;

}

.navitems{
    list-style-type: none;
    opacity: 0.83;
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.navitems li{
    display: flex;
    height: 100%;
    padding-left:5%;
    align-items:center;
    padding-right: 5%;
}

.navitems li:hover{
    border-bottom: 3px solid #57C5B6;
    /* background-color: #43436a; */

}

.selected{
    border-bottom: 3px solid #57C5B6; 
}

@media screen and (max-width:768px) {
    .middlelayer{
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-size: .9rem;
    }
}

@media screen and (max-width:360px) {
    .middlelayer{
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-size: .85rem;
    }
}

@media screen and (max-width:267px) {
    .middlelayer{
        margin-left: 1%;
        margin-right: 1%;
        font-size: .7rem;
    }
}