*{
    font-family: 'EB Garamond', serif;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: .5%;
    z-index:0;
}

.home table{
    width: 95%;
}

.showmorebtn{
    margin-top: 2.5%;
    background-color:rgb(3, 201, 136,.7);
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    border :transparent;
    color:white;
}

.showmorebtn:hover{
    background-color:rgb(3, 201, 136,1);
}

.logo{
    width:20px;
}


.tablecontent {
    text-align: left;
}

.name{
    color:#2600ff;
}

.tableHead{

    height: 40px;
    background:#F0F0F0;
    color:black;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2);
    z-index:-1;
}

.tableData{
    position: relative;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
    top:10px;
}

.tabledatacontent{
    text-align: left;
    background:white;
    color:black;
    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.2);
    height: 60px;   
    z-index:-1;

}

tr:nth-child(even){
    background-color: #F0F0F0;
}

.tabledatacontent:hover{
    background-color: #BBE1FA;
}

td,th{
    padding-left: 2%;
    padding-right: 2%;
}

.name span{
    font-size: smaller;
    opacity:0.5;
}

Footer{
    margin-top: 2%;
    padding: 2.5%;
    background-color: white;
    position:static;
    bottom: 0px;
}

.description{
    text-align: justify;
    font-size: medium;
}

.footerheading{
    display: flex;
    align-items: center;
}

.footerimg{
    width: 5%;
    margin-bottom: 1%;
}
.curli{
    padding: 10px;
}
.cur{
    color: gray;
}
.suggestionbox{
    position: relative;
    display:block;
    z-index:1;
    max-height: 40vh;
    overflow:auto;
}

.suggestionbox ul{
    position: relative;
    z-index:0;
    list-style:none;
}

.suggestion{
    position: relative;
    display:block;
    z-index:0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.rankdata{
    
}

.rankdata > span{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.like{
    width: 15px;
}

@media screen and (max-width:768px){

    .showmorebtn{
        margin-top: 6%;
        width: 35%;
    }
    .name{
        display: flex;
        flex-direction: column;
        color:#2600ff;
        }
    .home{
        margin-top: 2%;
    }

    .home table{
        width: 95%;
        font-size: .85rem;
    }

    .supply{
        display: none;
    }

    .description{
        text-align: justify;
        font-size: 10px;
    }

}

@media screen and (max-width:600px) {
    .suggestionbox{
        position: absolute;
        max-height: 25vh;
        top:25%;
        overflow-y:auto;
    }

    .home thead{
        font-size: .65rem;
    }
    .suggestion{
        padding:5px;
    }
}
@media screen and (max-width:360px){
    .home table{
        width: 95%;
        font-size: .71rem;
    }

    .home thead{
        font-size: .6rem;
    }
}
