*{
    font-family: 'EB Garamond', serif;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5%;
}

.home table{
    width: 80%;
}

.logo{
    width:20px;
}


.tablecontent {
    text-align: left;
}

.tableHead{
    height: 40px;
    background:white;
    color:black;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2);
}

.tableData{
    position: relative;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
    top:10px;
}

.tabledatacontent{
    text-align: left;
    background:white;
    color:black;
    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.2);
    height: 50px;   
}

.tabledatacontent:hover{
    background-color: #BBE1FA;
}

td,th{
    padding-left: 2%;
    padding-right: 2%;
}

.name span{
    font-size: smaller;
    opacity:0.5;
}


@media screen and (max-width:768px){
    .name{
        display: flex;
        flex-direction: column;
    }
    .home{
        margin-top: 2%;
    }

    .home table{
        width: 90%;
        font-size: .7rem;
    }
}
@media screen and (max-width:360px){
    .home table{
        width: 95%;
        font-size: .6rem;
    }

}
