@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'EB Garamond', serif;
}

html, body {
    height: 100%;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: .5%; */
    z-index:0;
}

.tablecontent{
    width: 100%;
    border-collapse: collapse;
}

.showmorebtn ,.newsshowmorebtn{
    margin-top: 2.5%;
    background-color: #0F6292;
    width: 15%;
    height: 5vh;
    border-radius: 5px;
    border :transparent;
    color:white;
}

.showmorebtn:hover,.newsshowmorebtn:hover{
    background-color:#85CDFD;
    color: black;
}

.logo{
    width:25px;
    height: 25px;
}


.tablecontent {
    /* text-align: left; */
}

.name{
    color:white;
    display:flex;
    flex-direction:row;
    justify-self: space-between;
    align-items: center;
}

.namespan{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.tableHead{
    height: 40px;
    /* background:#F0F0F0; */
    /* color:white; */
    /* box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2); */
    z-index:-1;
    font-family: 'Poppins', sans-serif;

}

.tableData{
    position: relative;
    /* box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2); */
    /* top:10px; */
}

.tabledatacontent{
    text-align: left;
    /* background:white; */
    /* color:black; */
    /* box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.2); */
    height: 60px;   
    z-index:-1;

}

tr:nth-child(even){
    /* background-color: #F0F0F0; */
}

.tabledatacontent:hover{
    /* background-color: #BBE1FA; */
}

td,th{
    padding-left: 2%;
    padding-right: 2%;
}

.sym{
    font-size: smaller;
    opacity:0.5;
}
.wrapper{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;
}



Footer{
    margin-top: 2%;
    padding: 2.5%;
    background-color: white;
    position: relative;
    z-index: 0;
    flex-shrink: 0;
}

Footer > *{
    font-family: 'Poppins', sans-serif;
}

Footer > div > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}


.description{
    text-align: justify;
    font-size: medium;
}

.footerheading{
    display: flex;
    align-items: center;
}

.footerimg{
    width: 40px;
    margin-bottom: 1%;
}
.curli{
    padding: 10px;
}
.cur{
    color: gray;
}
.suggestionbox{
    position: absolute;
    display:block;
    z-index:1;
    max-height: 40vh;
    overflow:auto;
}

.suggestionbox::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

.suggestionbox ul{
    position: relative;
    z-index:0;
    list-style:none;
}

.suggestion{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.sugimg{
    display: block;
    width: 40px;
    height: 20px;
    object-fit: cover;

}
.rankdata > span{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.like{
    width: 17px;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.newsitems{
    justify-content: center;
}

.newsitems >li{
    background-color: #C9EEFF;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newsdata{
    display: flex;
    width: 80%;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid black; */
    background-color: #2C3333;
    /* box-shadow: 0px 0px 5px 1px  rgba(255, 255, 255, 0.1); */

}

.newscontent{
    padding: 1%;
    margin-left: 2%;
}

.newstitle{
    text-align: justify;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.titlelink{
    text-decoration:none;
    color: white;
}

.newsimg{
    width:30%;
}

.source{
    color:#E76161;
    font-weight: bold;
}

.date ,.related{
    color:#57C5B6;
}

.desc{
    margin-top:1%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color:#ebeced;
}

.readmore{
    text-decoration: none;
    color: white;

}

.desc a{
    display: block;
    width:70%;
}

.cookieconsent{
    display: flex;
    /* height:10vh; */
    position:sticky;
    bottom:0;
    align-items: center;
    padding: 1%;
    color:black;
    background-color: #ffffff7a;
    width:100%;
    justify-content: space-between;
}

.buttons{
    text-align: center;
    width: 100%;
}

.prev{
    margin-right: 5px;
}

.next{
    margin-left: 5px;
}


.cookieconsent >p{
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:768px){

    .showmorebtn,.newsshowmorebtn{
        margin-top: 6%;
        width: 35%;
    }
    .name{
        display: flex;
        flex-direction: row;
        /* color:#2600ff; */
    }
    .home{
        /* margin-top: 2%; */
    }

    .home table{
        /* font-size: .85rem; */
    }

    .tablecontent > table{
        width: 1000px;
    }
    
    /* .supply{
        display: none;
    } */

    .description{
        text-align: justify;
        font-size: 13px;
    }

    .newsdata{
        flex-direction: column;
    }

    .newscontent >h1{
        text-align: justify;
        font-size:22px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .newsimg{
        width:50%;
    }

    .cookieconsent >p{
        font-size: small;
    }
}

@media screen and (max-width:600px) {
    .suggestionbox{
        left: 10%;
        position: absolute;
        max-height: 25vh;
        overflow-y:auto;
    }

    .tablecontent > table{
        width: 800px;
    }
    

/* 
    .home thead{
        font-size: .65rem;
    } */
    .suggestion{
        padding:5px;
    }

    .newsdata{
        width: 100%;
    }

    .newsimg{
        width:85%;
        border-radius: 10px;
    }

    .newscontent{
        padding: 1%;
        width: 95%;
        margin-left: 0%;
    }

    /* .newsnav{

    } */

    .newsnav >ul{
        font-size: small;
    }

    .newsnav >ul>li{
        padding:3%;
    }


}
@media screen and (max-width:360px){
    /* .home table{
        width: 95%;
        font-size: .71rem;
    } */
/* 
    .home thead{
        font-size: .6rem;
    } */

    .newsnav >ul>li{
        padding:1%;
    }
    
}

@media screen and (max-width:279px){
    .newsnav >ul>li{
        padding:1.5%;
    }
    
}

.content{
    margin-left: 0;
    padding: 0;
    flex: 1;
}

.logindiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.login-selector{
    width: 50%;
    margin-top: 1px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0px 0px 2px 1px white; */
    color: white;
}
.loginimagediv{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.loginimage{
    width: 60%;
}
.login-btn{
    width: 350px;
    height:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
.google-logo{
    float: left;
    position: relative;
    width: 25px;
}

@media screen and (max-width:768px){
    .logindiv{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .loginimagediv{
        width: 100%;
    }

    .login-selector{
        width: 100%;
    }

    .loginimage{
        width: 70%;
    }

    .login-btn{
        max-width: 450px;
        width: 70%;
    }
}