*{
    font-family: 'EB Garamond', serif;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: .5%;
}

.home table{
    width: 80%;
}

.showmorebtn{
    margin-top: 2.5%;
    background-color:rgb(3, 201, 136,.7);
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    border :transparent;
    color:white;
}

.showmorebtn:hover{
    background-color:rgb(3, 201, 136,1);
}

.logo{
    width:20px;
}


.tablecontent {
    text-align: left;
}

.name{
    color:#BFDCE5;
}

.tableHead{
    height: 40px;
    /* background:white; */
    background-color: rgba(35, 35, 35, 0.719);
    /* color:black; */
    color:#ECF2FF;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2);
}

.tableData{
    position: relative;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
    top:10px;
}

.tabledatacontent{
    text-align: left;
    /* background:white; */
    /* color:black; */
    background-color: rgba(35, 35, 35, 0.719);
    color:white;
    color:#ECF2FF;
    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.2);
    height: 60px;   
}

tr:nth-child(even){
    background-color: #505071;
    background-color: rgba(35, 35, 35, 0.49);
}

.tabledatacontent:hover{
    background-color: #BBE1FA;
    background-color : #30475E;
}

td,th{
    padding-left: 2%;
    padding-right: 2%;
}

.name span{
    font-size: smaller;
    opacity:0.5;
}


@media screen and (max-width:768px){

    .showmorebtn{
        margin-top: 6%;
        width: 35%;
    }
    .name{
        display: flex;
        flex-direction: column;
        color:#FF87CA;
        }
    .home{
        margin-top: 2%;
    }

    .home table{
        width: 95%;
        font-size: .85rem;
    }

    .supply{
        display: none;
    }

 
}
@media screen and (max-width:360px){
    .home table{
        width: 95%;
        font-size: .71rem;
    }

    .home thead{
        font-size: .6rem;
    }
}
