*{
    font-family: 'EB Garamond', serif;
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: .5%;
    z-index:0;
}

.home table{
    width: 95%;
}

.showmorebtn ,.newsshowmorebtn{
    margin-top: 2.5%;
    background-color:rgb(3, 201, 136,.7);
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    border :transparent;
    color:white;
}

.showmorebtn:hover,.newsshowmorebtn{
    background-color:rgb(3, 201, 136,1);
}

.logo{
    width:20px;
}


.tablecontent {
    text-align: left;
}

.name{
    color:#2600ff;
}

.tableHead{

    height: 40px;
    background:#F0F0F0;
    color:black;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.2);
    z-index:-1;
}

.tableData{
    position: relative;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.2);
    top:10px;
}

.tabledatacontent{
    text-align: left;
    background:white;
    color:black;
    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.2);
    height: 60px;   
    z-index:-1;

}

tr:nth-child(even){
    background-color: #F0F0F0;
}

.tabledatacontent:hover{
    background-color: #BBE1FA;
}

td,th{
    padding-left: 2%;
    padding-right: 2%;
}

.name span{
    font-size: smaller;
    opacity:0.5;
}

Footer{
    margin-top: 2%;
    padding: 2.5%;
    background-color: white;
    position:static;
    bottom: 0px;
}

.description{
    text-align: justify;
    font-size: medium;
}

.footerheading{
    display: flex;
    align-items: center;
}

.footerimg{
    width: 5%;
    margin-bottom: 1%;
}
.curli{
    padding: 10px;
}
.cur{
    color: gray;
}
.suggestionbox{
    position: relative;
    display:block;
    z-index:1;
    max-height: 40vh;
    overflow:auto;
}

.suggestionbox ul{
    position: relative;
    z-index:0;
    list-style:none;
}

.suggestion{
    position: relative;
    display:block;
    z-index:0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.rankdata > span{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.like{
    width: 15px;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.newsitems{
    justify-content: center;
}

.newsitems >li{
    background-color: #C9EEFF;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newsdata{
    display: flex;
    width: 80%;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

.content{
    padding: 1%;
    margin-left: 5%;
}

.newstitle{
    text-align: justify;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.titlelink{
    text-decoration:none;
    color: black;
}

.newsimg{
    width:20%;
}

.source{
    color:#E76161;
    font-weight: bold;
}

.date ,.related{
    color: #9BA4B5;
}

.desc{
    margin-top:1%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.readmore{
    text-decoration: none;
    color: black;
}

.desc img{
    width: 100px;
}

.desc a{
    display: block;
    width:70%;
}

@media screen and (max-width:768px){

    .showmorebtn{
        margin-top: 6%;
        width: 35%;
    }
    .name{
        display: flex;
        flex-direction: column;
        color:#2600ff;
        }
    .home{
        margin-top: 2%;
    }

    .home table{
        width: 95%;
        font-size: .85rem;
    }

    .supply{
        display: none;
    }

    .description{
        text-align: justify;
        font-size: 10px;
    }

    .newsdata{
        flex-direction: column;
    }

    .content >h1{
        text-align: justify;
        font-size:22px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .newsimg{
        width:50%;
    }
}

@media screen and (max-width:600px) {
    .suggestionbox{
        position: absolute;
        max-height: 25vh;
        top:25%;
        overflow-y:auto;
    }


    .home thead{
        font-size: .65rem;
    }
    .suggestion{
        padding:5px;
    }

    .newsdata{
        width: 100%;
    }

    .newsimg{
        width:85%;
        border-radius: 10px;
    }

    .content{
        padding: 1%;
        width: 85%;
        margin-left: 0%;
    }

    .newsnav{

    }

    .newsnav >ul{
        font-size: small;
    }

    .newsnav >ul>li{
        padding:3%;
    }


}
@media screen and (max-width:360px){
    .home table{
        width: 95%;
        font-size: .71rem;
    }

    .home thead{
        font-size: .6rem;
    }

    .newsnav >ul>li{
        padding:2%;
    }
    
}

@media screen and (max-width:279px){
    .newsnav >ul>li{
        padding:1.5%;
    }
    
}
